<h3>Welcome to my Car Finder App!</h3>
<p>I understand that finding the perfect car can be a daunting task, and that's why I've created a platform that makes
  it easier for you. My app provides a wide range of options, making it easy for you to find the right car for your
  needs.</p>
<p>Here are some key features of my app:</p>
<ol>
  <li>Search: My advanced search engine helps you find the car you're looking for quickly and easily. You can search by make, model, year, price, and more.</li>
  <li>Car Details: View comprehensive details about each car.</li>
  <li>Save Cars: Your cars will be saved in your search history.</li>
</ol>
<p>If you have any questions or issues, please don't hesitate to contact me. I'm always here to help. Happy car searching!</p>
<%= link_to "Back to Home page", root_path %>
