<% if notice %>
  <div class="notice">
    <p style="color: green"><%= notice.html_safe %></p>
  </div>
<% end %>
<% if alert %>
  <div class="alert">
    <p style="color: red"><%= alert.html_safe %></p>
  </div>
<% end %>
